*{
    margin: 0px;
    padding: 0px;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-style{
    max-width: 1147px;
    margin: 0px auto;
}

/* Shared styles */

.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.margin-24{
    margin-top: 24px;
}

.margin-48-btm{
    margin-bottom: 48px;
}

/* Navbar styles */
header .nav-container{
    display: flex;
    justify-content: space-around;
    gap: 822px;
}

.nav-container .nav-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
}

.nav-container .nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 10px;
    margin-top: 38px;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;

}

/* Hero styles */
.hero{
    background-image: url(../assets/Hero-bg.png);
    max-height: 698px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 79px;
}

.hero-img{
    width: 257px;
    height: 257px;
}

.hero-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 51.3px;
    font-weight: 800;
    line-height: 72.8px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    width: 1068px;
}

.hero-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
    width: 912px;
}

.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px 0px;
}

/* Reason styles */
.reason{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.reason-padding{
    padding: 86px 104px;
}

.reason-single{
    display: flex;
    justify-content: space-between;
    gap: 107px;
    padding: 48px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.reason-heading{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 25.7px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
    width: 417px;
    height: 77px;
}

.reason-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 27.8px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0px;
    width: 500.8px;
    height: 55.6px;
}

.reason-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    width: 183px;
    height: 50.2px;
}

.reason-heading2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 25.7px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-align: left;
    width: 510.4px;
    height: 77px;
    margin: 16px 0px;
}

.reason-description2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 27.8px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    width: 500.8px;
    height: 55.6px;
    margin: 16px 0px;
}

.reason-btn2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
}

.reason-desc-margin{
    margin: 28px 0px 48px 0px;
}

.img-reason{
    width: 259.56px;
    height: 217.01px;
}

.img-reason2{
    width: 223.2px;
    height: 208.85px;
}

.img-reason3{
    width: 206.4px;
    height: 187.32px;
}

/* Inspiration styles */


.inspiration .iframe-container{
    margin-top: 48px;
    margin-bottom: 151px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.inspiration .iframe-container iframe{
    margin: auto;
    border-radius: 16px;
}

/* Current Styles */
.card-single{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start;
    gap: 24px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    gap: 24px;
    margin-bottom: 111px;
}

.bg-card1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.bg-card2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.bg-card3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-img{
    width: 60px;
    height: 60px;
}

.current-img2{
    width: 42.4px;
    height: 48.1px;
}

.card-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25.7px;
    font-weight: 800;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-align: left;
    width: 304px;
    height: 38.5px;
    margin: 8px 0px;
}

.card-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 27.8px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;
    width: 303.9px;
    height: 55.6px;
}

.card-learn-more{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 700;
    line-height: 20.3px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0px;
    width: 303.9px;
    height: 20.3px;
}

/* Next/Skill styles */
.skills-container{
    margin-top: 48px;
    margin-bottom: 49px;
}
.skill{
    display: flex;
    padding: 40px;
    gap: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
}

.skill-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25.7px;
    font-weight: 800;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
    width: 117.7px;
    height: 38.5px;
}

.skill-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 27.8px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;
    width: 1007.1px;
    height: 55.6px;
}

.skill-anchor{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 700;
    line-height: 20.3px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0px;
    width: 1007.1px;
    height: 20.3px;
}

.skill-img1{
    width: 101.4px;
    height: 90.3px;
}

.skill-img2{
    width: 153.3px;
    height: 93.9px;
}

.skill-img3{
    width: 108px;
    height: 108px;
}

/* Support styles */
.support{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    height: 335px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    margin-bottom: 80px;
}

.support-heading{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 34.2px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
    width: 312.4px; 
    height: 38.5px;
}

.support-text{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 27.8px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;
    width: 648.4px; 
    height: 55.6px; 
}

.form-text{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 17.1px;
    font-weight: 400;
    line-height: 20.3px;
    letter-spacing: 0%;
    /* text-align: center; */
    padding: 19px 20px 19px 20px;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    /* margin: 0px 16px; */
    width: 586.4px;
    height: 61px;
    margin-top: 70px;
}

.form-submit{
    border-radius: 8px;

    background: rgb(255, 255, 255);
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    width: 128.4px;
    height: 61px;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 70px;
}

.support-banner{
    width: 781.1px;
    height: 111.3px;
    text-align: center; 
    margin: 0 auto; 
}

.support-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

/* Footer styles */
footer{
    padding: 32px 150px 32px 150px;
    width: 1536px;
    height: 80px;
    border-radius: 16px;
    top: 5145px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-info{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 563px;
}

.footer-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 16px;
    width: 487.9px;
    height: 24.6px;
}

.footer-img{
    /* background: linear-gradient(180.00deg, rgb(0, 178, 255) -0.911%,rgb(0, 106, 255) 104.264%); */
    width: 38.5px;
    height: 38.5px;
    margin-right: 64.2;
}
