*{
    margin: 0px;
    padding: 0px;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */

/* Navbar styles */
header .nav-container{
    display: flex;
    justify-content: space-around;
    gap: 822px;
}

.nav-container .nav-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
}

.nav-container .nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 10px;
    margin-top: 38px;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;

}