*{
    margin: 0px;
    padding: 0px;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */

/* Navbar styles */
header .nav-container{
    display: flex;
    justify-content: space-around;
    gap: 822px;
}

.nav-container .nav-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
}

.nav-container .nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 10px;
    margin-top: 38px;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;

}

/* Hero styles */
.hero{
    background-image: url(../assets/Hero-bg.png);
    max-height: 698px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 79px;
}

.hero-img{
    width: 257px;
    height: 257px;
}

.hero-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 51.3px;
    font-weight: 800;
    line-height: 72.8px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    width: 1068px;
}

.hero-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
    width: 912px;
}

.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 21.4px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px 0px;
}